.media-detail {
    background: #0C1515;
    color: white;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
}

.no-padding {
    padding: 0px !important;
}

.media-detail__image {
    height: 100vh;
    display: -ms-flexbox;
	display: -webkit-flex;
	display: flex !important;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

.media-detail__back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}